#textdomain wesnoth-gse
[unit_type]
    id=Hunn_Kanavar
    name= _ "Kanavar"
    race=kanavar
    image="units/hunns/kanavar.png"
    profile="portraits/kanavar.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=36
    movement_type=hunnkanavar
    movement=8
    experience=43
    level=1
    alignment=chaotic
    advances_to=Hunn_Kanavar_Marksman,Hunn_Kanavar_Slasher
    cost=21
    usage=mixed fighter
    description= _ "Kanavar are fierce warriors of the steppe, whose dexterity, cunning and accurate shooting seem to be something paranormal. Young, not yet fully-grown Kanavars are armed with an axe and a bow, and their clothes consist of trousers and hats, and nothing more. But even with such light equipment, they pose a great danger: from an early age, they've been taught by the cruel demons how to kill and plunder, so even a small detachment of Kanavars is able to defeat more numerous forces of the enemy. War, in fact, is their only occupation and entertainment. The Kanavars believe that new times will soon come when they will be the main people who rule over the weak, and with zeal and perseverance bring themself closer to that goal with fire and well-aimed bow shots."
    {STEPPE_DEATH_ANIM_TWOSOUND {SOUND_LIST:ORC_DIE} horse-die.ogg}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/hunns/kanavar.png" "units/hunns/kanavar.png" {SOUND_LIST:ORC_HIT} {SOUND_LIST:HORSE_HIT}}
    [abilities]
    {ABILITY_HUNNFACTION}
    [/abilities]
    [attack]
        name=axe
        description=_"axe"
        icon=attacks/axe-undead.png
        type=blade
        range=melee
        damage=4
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow-orcish.png
        type=pierce
        range=ranged
        damage=5
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]

        start_time=-250
        missile_start_time=-150

        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]

        [frame]
            duration=300
        [/frame]

        {SOUND:HIT_AND_MISS bow-puny.ogg bow-puny-miss.ogg -225}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]

        start_time=-900

        [frame]
            offset=0.0~-0.2:50
        [/frame]
        [frame]
            offset=-0.2~-0.4:500,-0.4~0.9:500,0.9~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Hunn_Kanavar_Marksman
    name= _ "Kanavar Marksman"
    race=kanavar
    image="units/hunns/kanavar2.png"
    profile="portraits/kanavar.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=42
    movement_type=hunnkanavar
    movement=8
    experience=98
    level=2
    alignment=chaotic
    advances_to=Hunn_Kanavar_Shadowshot
    cost=30
    usage=mixed fighter
    description= _ "kanavar2^WIP: NOT YET TRANSLATED"
    {STEPPE_DEATH_ANIM_TWOSOUND {SOUND_LIST:ORC_DIE} horse-die.ogg}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/hunns/kanavar2.png" "units/hunns/kanavar2.png" {SOUND_LIST:ORC_HIT} {SOUND_LIST:HORSE_HIT}}
    [abilities]
    {ABILITY_HUNNFACTION}
    [/abilities]
    [attack]
        name=axe
        description=_"axe"
        icon=attacks/axe-undead.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow-hunn.png
        type=pierce
        range=ranged
        damage=6
        number=5
    [/attack]
    [attack]
        name=arrowdance
        description= _ "arrow dance"
        icon=attacks/bow-hunn.png
        type=pierce
        range=ranged
        damage=8
        number=1
        [specials]
            {WEAPON_SPECIAL_STEPPE_CAROUSEL Hunn_Kanavar_Marksman arrowdance 4}
            {WEAPON_SPECIAL_OVERWHELM}
            {WEAPON_SPECIAL_STEPPE_ATTACK_ONLY}
        [/specials]
        attack_weight=2.5 #to make the AI prioritize this attack a bit more
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bow,arrowdance
        [/filter_attack]

        start_time=-250
        missile_start_time=-150

        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]

        [frame]
            duration=300
        [/frame]

        {SOUND:HIT_AND_MISS bow-puny.ogg bow-puny-miss.ogg -225}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]

        start_time=-900

        [frame]
            offset=0.0~-0.2:50
        [/frame]
        [frame]
            offset=-0.2~-0.4:500,-0.4~0.9:500,0.9~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]


[unit_type]
    id=Hunn_Kanavar_Shadowshot
    name= _ "Shadowshot"
    race=kanavar
    image="units/hunns/kanavar3.png"
    profile="portraits/kanavar.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=66
    movement_type=hunnkanavar
    movement=8
    experience=100
    level=3
    alignment=chaotic
    advances_to=null
    {STEPPE_AMLA_SHADOWSHOT}
    cost=65
    usage=mixed fighter
    description= _ "kanavar3^WIP: NOT YET TRANSLATED"
    {STEPPE_DEATH_ANIM_TWOSOUND {SOUND_LIST:ORC_DIE} horse-die.ogg}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/hunns/kanavar3.png" "units/hunns/kanavar3.png" {SOUND_LIST:ORC_HIT} {SOUND_LIST:HORSE_HIT}}
    [abilities]
    {ABILITY_HUNNFACTION}
    [/abilities]
    [attack]
        name=axe
        description=_"axe"
        icon=attacks/axe-undead.png
        type=blade
        range=melee
        damage=7
        number=4
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow-hunn-magic.png
        type=pierce
        range=ranged
        damage=7
        number=6
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=arrowdance
        description= _ "arrow dance"
        icon=attacks/bow-hunn-magic.png
        type=pierce
        range=ranged
        damage=12
        number=1
        [specials]
            {WEAPON_SPECIAL_STEPPE_CAROUSEL Hunn_Kanavar_Shadowshot arrowdance 4}
            {WEAPON_SPECIAL_OVERWHELM}
            {WEAPON_SPECIAL_STEPPE_ATTACK_ONLY}
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        attack_weight=2.5 #to make the AI prioritize this attack a bit more
    [/attack]

    [attack_anim]
        [filter_attack]
            name=bow,arrowdance
        [/filter_attack]

        start_time=-250
        missile_start_time=-150

#recolored bone arrow

        [missile_frame]
            duration=150
            image="projectiles/bone-n.png"
            image_diagonal="projectiles/bone-ne.png"
            image_mod="~CS(-35,-120,-20)"
            sound=magic-dark-miss.ogg
        [/missile_frame]

        [frame]
            duration=300
        [/frame]

        {SOUND:HIT_AND_MISS bow-puny.ogg bow-puny-miss.ogg -225}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=axe
        [/filter_attack]

        start_time=-900

        [frame]
            offset=0.0~-0.2:50
        [/frame]
        [frame]
            offset=-0.2~-0.4:500,-0.4~0.9:500,0.9~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Hunn_Kanavar_Slasher
    name= _ "Kanavar Slasher"
    race=kanavar
    image="units/hunns/kanavar2b.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=45
    movement_type=hunnkanavar
    movement=7
    experience=65
    level=2
    alignment=chaotic
    advances_to=null
    {STEPPE_AMLA_SLASHER}
    cost=40
    usage=fighter
    description= _ "kanavar slasher^WIP: NOT YET TRANSLATED"
    {STEPPE_DEATH_ANIM_TWOSOUND {SOUND_LIST:ORC_DIE} horse-die.ogg}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/hunns/kanavar2b.png" "units/hunns/kanavar2b.png" {SOUND_LIST:ORC_HIT} {SOUND_LIST:HORSE_HIT}}
    [abilities]
    {ABILITY_HUNNFACTION}
    [/abilities]
    [attack]
        name=saber
        description=_"saber"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=5
        number=5
        [specials]
            {WEAPON_SPECIAL_BERSERK}
        [/specials]
    [/attack]
    [attack]
        name=lasso
        description= _ "lasso"
        icon=attacks/whip.png
        type=impact
        range=ranged
        damage=8
        number=1
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=lasso
        [/filter_attack]
        missile_start_time=-200
        [missile_frame]
            duration=200
            image="projectiles/web.png"
            image_diagonal="projectiles/web.png"
        [/missile_frame]
        start_time=-200
        [frame]
            duration=300
        [/frame]
        {SOUND:HIT_AND_MISS net.wav {SOUND_LIST:MISS} -150}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=saber
        [/filter_attack]
        start_time=-225
        [frame]
            duration=25
            image="units/hunns/kanavar2b.png"
        [/frame]
        [frame]
            duration=425
            image="units/hunns/kanavar2b-attack-[1~4].png"
            sound=horse-canter.wav
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id = Hunn_Kanavar1
    [base_unit]
        id = Hunn_Kanavar
    [/base_unit]
    [+abilities]
        {ABILITY_STEPPE_CUSTOM_UPKEEP 4}
    [/abilities]
    hide_help=true#making the kanavars not make the help menu look ugly
[/unit_type]
