#textdomain wesnoth-gse

[unit_type]
    id=Hunn_Demon
    name= _ "Demon"
    race=steppe_demon
    image="units/hunns/demon.png"
    profile="portraits/demon-oni.png"
    {LEADING_ANIM "units/hunns/demon.png" "units/hunns/demon.png" 0,-58}
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=52
    movement_type=hunndemon
    movement=7
    experience=77
    level=2
    alignment=chaotic
    advances_to=Hunn_Demon_General,Hunn_Demon_Warmonger
    cost=30
    usage=fighter
    description= _ "Regular Ka'Ruuk'Oni demons appear in the mortal world as red-skinned horned giants riding on black fire-breathing pegasi. They are armed with outlandish long swords, and are clad in armor reminiscent of thoat worn in the easternmost regions of Irdia. In the coven, they are the quite high in the hierarchy. Demons rule over the Kanavars, taking whichever witches they want for themselves, and commanding an army of brutal half-blood Kanavars. These proud, power-hungry and hot-tempered beings truly reveal themselves in the heat of the battle: like huge black crows they rush over the battlefield and pour fire on the enemy, or they suddenly crash into enemy ranks and cut opponents to pieces with quick blows. They do not take prisoners, and do not tolerate cowardice, neither their own soldiers' nor the enemy's. The Ka'Ruuk'Oni feed the weak and cowardly to their pegasus alive. Basically, one meeting with these fiends is enough to understand that they have come to conquer our world, and will stop at nothing. "
    {STEPPE_DEATH_ANIM_TWOSOUND drake-die.ogg horse-die.ogg}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/hunns/demon.png" "units/hunns/demon.png" {SOUND_LIST:DRAKE_HIT} {SOUND_LIST:HORSE_HIT}}
    {STEPPE_FLOAT_WATER_STANDING_ANIM}
    [abilities]
    {ABILITY_HUNNFACTION}
    {ABILITY_STEPPE_DEMON demon_standard _"father of fiends" _"While is unit is in a 3-tile radius from them, allied witches can give birth to kanavars."}
    {ABILITY_LESSER_LEADERSHIP}
    [/abilities]

    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-demon.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]

    [attack]
        name=fire breath
        description=_"fire breath"
        icon=attacks/fire-blast.png
        type=fire
        range=ranged
        damage=5
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
##        {MISSILE_FRAME_FIRE_BREATH 11,-34 11,15 24,-22 26,10}
##        base offset: 24,-12
#        {MISSILE_FRAME_FIRE_BREATH 24,-30 24,8 30,-16 24,0}

#        base offset: 28,-6
        {MISSILE_FRAME_FIRE_BREATH 32,-21 32,17 38,-5 32,9}

        start_time=-500
        [frame]
            duration=450
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -400}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]

        start_time=-900

        [frame]
            offset=0.0~-0.2:50
        [/frame]
        [frame]
            offset=-0.2~-0.4:500,-0.4~0.9:500,0.9~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Hunn_Demon_General
    name= _ "Dead Field Knyaz"
    race=steppe_demon
    image="units/hunns/demon2.png"
    profile="portraits/demon-oni.png"
    {LEADING_ANIM "units/hunns/demon2.png" "units/hunns/demon2.png" -19,-79}
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=73
    movement_type=hunndemon
    movement=7
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=62
    usage=fighter
    description= _ "demon knyaz^WIP: NOT YET TRANSLATED"
    {STEPPE_DEATH_ANIM_TWOSOUND drake-die.ogg horse-die.ogg}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/hunns/demon2.png" "units/hunns/demon2.png" {SOUND_LIST:DRAKE_HIT} {SOUND_LIST:HORSE_HIT}}
    {STEPPE_FLOAT_WATER_STANDING_ANIM}
    [abilities]
    {ABILITY_HUNNFACTION}
    {ABILITY_STEPPE_DEMON demon_general _"knyaz of fiends" _"While is unit is in a 3-tile radius from them, allied witches can give birth to kanavars. All kanavars birthed/recruited while this unit is alive permanently gain a permanent 1 damage bonus. This does not stack."}
    {ABILITY_LEADERSHIP}
    {ABILITY_STEPPE_SOUL_BURST}
    [/abilities]

    [attack]
        name=sword
        description=_"spear"
        icon=attacks/pike.png
        type=blade
        range=melee
        damage=9
        number=4
    [/attack]

    [attack]
        name=spear
        description=_"spear"
        icon=attacks/pike.png  
        type=pierce
        range=melee
        damage=15
        number=2
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]

    [attack]
        name=fire breath
        description=_"fire breath"
        icon=attacks/fire-blast.png
        type=fire
        range=ranged
        damage=9
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
##        {MISSILE_FRAME_FIRE_BREATH 11,-34 11,15 24,-22 26,10}
##        orig base offset: 24,-12
##        base offset: 15,-19
#        {MISSILE_FRAME_FIRE_BREATH 15,-37 15,1 21,-23 15,-7}
#        base offset: 28,-6
        {MISSILE_FRAME_FIRE_BREATH 32,-21 32,17 38,-5 32,9}

        start_time=-500
        [frame]
            duration=450
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -400}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]

        start_time=-900

        [frame]
            offset=0.0~-0.2:50
        [/frame]
        [frame]
            offset=-0.2~-0.4:500,-0.4~0.9:500,0.9~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]

        start_time=-900

        [frame]
            offset=0.0~-0.2:50
        [/frame]
        [frame]
            offset=-0.2~-0.4:500,-0.4~0.9:500,0.9~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]

#fake attack animation for finishing off a unit
    [extra_anim]
        flag=soulburst
        [missile_frame]
            halo="halo/saurian-magic-halo-[1~7].png:100"
            halo_y=-60
            halo_mod="~CS(-20,-100,0)~BLEND(150,0,200,0.4)~O(75%)~SCALE(216,216)"
            offset=1.0
            sound=magic-dark-big.ogg
            auto_vflip=no
        [/missile_frame]
        [missile2_frame]
            halo="halo/saurian-magic-halo-[1~7].png:100"
            halo_y=-20
            halo_mod="~CS(-20,-100,0)~BLEND(150,0,200,0.4)~O(75%)~SCALE(216,216)"
            offset=1.0
            sound=magic-dark-big.ogg
            auto_vflip=no
        [/missile2_frame]
        [missile3_frame]
            halo="halo/saurian-magic-halo-[1~7].png:100"
            halo_y=20
            halo_mod="~CS(-20,-100,0)~BLEND(150,0,200,0.4)~O(75%)~SCALE(216,216)"
            offset=1.0
            sound=magic-dark-big.ogg
            auto_vflip=no
        [/missile3_frame]
        start_time=0
        [frame]
            duration=200
            sound=magic-faeriefire.ogg
        [/frame]
    [/extra_anim]
[/unit_type]

[unit_type]
    id=Hunn_Demon_Warmonger
    name= _ "Demon Warmonger"
    race=steppe_demon
    image="units/hunns/demon2b.png"
    profile="portraits/demon-oni.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=73
    movement_type=hunndemon
    movement=7
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=60
    description= _ "demon warmonger^WIP: NOT YET TRANSLATED"
    {STEPPE_DEATH_ANIM_TWOSOUND drake-die.ogg horse-die.ogg}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/hunns/demon2b.png" "units/hunns/demon2b.png" {SOUND_LIST:DRAKE_HIT} {SOUND_LIST:HORSE_HIT}}
    {STEPPE_FLOAT_WATER_STANDING_ANIM}
    [abilities]
    {ABILITY_HUNNFACTION}
    {ABILITY_STEPPE_DEMON demon_warmonger _"boiling blood" _"While is unit is in a 3-tile radius from them, his side's witches can give birth to kanavars. All kanavars birthed/recruited while this unit is alive permanently gain the 'fearless' trait."}
    {ABILITY_STEPPE_DEVOURER_OF_SOULS}
#    {ABILITY_STEPPE_SOUL_BURST}
#teleport ability for debugging purpose, to test the teleport animation
#    {ABILITY_TELEPORT}
    [/abilities]

    [attack]
        name=sword
        description=_"greatsword"
        icon=attacks/sword-demon.png  
        type=blade
        range=melee
        damage=14
        number=3
        [specials]
#            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]

    [attack]
        name=souleater
        description=_"souleater"
        icon=attacks/scimitar-souleater.png
        type=blade
        range=melee
        damage=21
        number=1
        [specials]
            {WEAPON_SPECIAL_STEPPE_ABSORB_POWER}
            {WEAPON_SPECIAL_RELIABLE}
            {WEAPON_SPECIAL_STEPPE_ATTACK_ONLY}
        [/specials]
        attack_weight=1.33
    [/attack]

    [attack]
        name=fire breath
        description=_"fire breath"
        icon=attacks/fire-blast.png
        type=fire
        range=ranged
        damage=9
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=fire breath
        [/filter_attack]
##        {MISSILE_FRAME_FIRE_BREATH 11,-34 11,15 24,-22 26,10}
##        orig base offset: 24,-12
##        base offset: 31,30
#        {MISSILE_FRAME_FIRE_BREATH 31,12 31,50 37,26 31,42}
#        base offset: 28,-6
        {MISSILE_FRAME_FIRE_BREATH 32,-21 32,17 38,-5 32,9}
        start_time=-500
        [frame]
            duration=450
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -400}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=sword,souleater
        [/filter_attack]

        start_time=-900

        [frame]
            offset=0.0~-0.2:50
        [/frame]
        [frame]
            offset=-0.2~-0.4:500,-0.4~0.9:500,0.9~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [animation]
        apply_to=pre_teleport

        start_time=-1400
        portal_start_time=-1400

        [portal_frame]
            duration=1400
            image="halo/portal-halo.png~SCALE(216,216)"
            layer=39
            alpha=0~1:400,1:600,1~0:400
            sound=magic-dark-big.ogg
        [/portal_frame]

        [frame]
            duration=1000
            alpha=1:400,1~0:600
        [/frame]
        [frame]
            duration=400
            image="misc/blank-hex.png"
        [/frame]
    [/animation]

    [animation]
        apply_to=post_teleport

        start_time=-1400
        portal_start_time=-1400

        [portal_frame]
            duration=1400
            image="halo/portal-halo.png~SCALE(216,216)"
            layer=39
            alpha=0~1:400,1:600,1~0:400
            sound=magic-dark-big.ogg
        [/portal_frame]

        [frame]
            duration=400
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=1000
            alpha=0~1:600,1:400
        [/frame]
        [frame]
            duration=1
        [/frame]
    [/animation]
[/unit_type]