#textdomain wesnoth-gse

#define FACTION_DESCRIPTION_OGRE
_"The Bull Tumen is a faction of ogre nomads who worship the terrible Bull God. Playing as this faction, you will control a horde of barbarians of the steppe, burn villages, capture prisoners, run over the enemy with giant chariots and summon the bloodthirsty spawn of the Bull God. The faction is very aggressive and strong at the beginning of the game, but loses its strength as the match drags on."
#enddef

#define FACTION_DESCRIPTION_KHAGANATE
_"The Serpent Kaganate is the southern faction of serpentheads and their subordinate peoples. Playing as this faction, you will command a diverse and flexible army consisting of members of different races; to win, you will have to keep the slaves and deserters under control, enslave the will of the enemy fighters and skillfully combine lawful and chaotic units. The faction is usually best at the middle stage of a match."
#enddef

#define FACTION_DESCRIPTION_COVEN
_"The Dead Field Coven is a faction gathered by the fugitive witch-queen in the eastern lands of the Great Steppe. Playing as this faction, you will control a sinister army of fugitive witches, demons, half-blood kanavars and the ancient horrors of the steppe in the form of primitive beasts possessed by the spirits, ghost wolves woven from fear, and skeletal nomads. You have to support and breed the new race of nomad half-demons and gradually accumulate your power. The faction is weak at the initial stage of the game, but strong in a long game, when it is possible to gather several generations of kanavars and sweep away the enemy army with a horde of half-breeds led by the demons themselves."
#enddef

#define FACTION_DESCRIPTION_SLAVS
_"The Northern Knyaz Triumvirate is a faction of the people of the north. The three knyazdoms entered into an alliance to fight back the evil that is approaching from the steppe. Playing as the triumvirate, you will command a diverse and flexible army. Each of your units can build things ranging from simple walls and watchtowers to long-ranged outposts and smithies that make your units more durable to battle. Use the creative potential of the northerners to defeat the nomad armies!"
#enddef

#define FACTION_DESCRIPTION_KINGDOM
_"The Ogre Kingdom is a powerful feudal power located in the mountains west of the Steppes. Constant feuds and conflicts with neighbors has honed the siege skills of Ogres: at their disposal they have long-range Catapult Trolls, furious Stormtroopers, Fire Pigs, armored Knights and Monstrous Beavers from Bitter Swamps. Ogres’ army is unstoppable in a siege, but vulnerable in a maneuverable field battle."
#enddef

#define FACTION_DESCRIPTION_MANDATE
_"The Tartarus Mandate is an eastern faction of terrifying beasts and monsters, who have risen from the mysterious Tartarus Pit. Playing as this faction, you will command a motley army of sturdy and heavy-hitting soldiers, which although lack in speed and mobility. Organize smart logistics for the chthonic forces of the underworld to ensure that the creatures of the surface are prostrated before the greatness of your empire!"
#enddef

