#textdomain wesnoth-gse
[multiplayer_side]
    id=kingdom_rpg
    name= _ "Ogre Kingdom"
    #ifdef GSE_X_EOMA_FACTIONICONS
    image="faction-icons/kingdom-crossover.png"
    #else
    image="faction-icons/kingdom.png"
    #endif   
    type=random
    {KINGDOM_RPG_LEADERS}
    recruit=
    {KINGDOM_AI}
    description={FACTION_DESCRIPTION_KINGDOM}
[/multiplayer_side]

