#textdomain wesnoth-gse
[unit_type]
    id=Ogre_Bull
    name= _"Bull"
    race=bull
    image="units/bulls/bull.png"
    profile="portraits/tumen/bull.png"
    hitpoints=40
    movement_type=bull
    movement=5
    experience=37
    level=1
    upkeep=0
    alignment=chaotic
    advances_to=Ogre_Tribal_Bull,Ogre_Minotaur
    cost=14
    usage=fighter
    description= _ "Not many things are as heavily associated with ogre nomads as their bulls – powerful, pugnacious horned beasts with the same height as humans in their withers, with heavy hooves and thick brown hide. They serve herdsmen as a source of meat, milk, wool and as drafting animals. Bulls – are the base of ogres’ wealth: the greatest power among the nomads is in the hands of those who have the largest herds. Bulls are also important as a military force – it is them who are harnessed to war chariots, which they pull with ease, reaching great speeds and charging into enemy lines, like giant battle rams…"
    die_sound=bull-die.ogg

    {DEFENSE_ANIM "units/bulls/bull.png" "units/bulls/bull.png" {SOUND_LIST:BULL_HIT} }

    [abilities]
        {ABILITY_OGREFACTION}
        {ABILITY_STEPPE_REGENERATES_LESSER 3}
        {ABILITY_STEPPE_UPKEEPLESS}
    [/abilities]

    [attack]
        name=horns
        description=_"horns"
        icon=attacks/horn.png
        type=pierce
        range=melee
        damage=6
        number=2
    [/attack]

    [attack]
        name=headbutt
        description=_"ram"
        icon=attacks/ram.png    
        type=impact
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=horns
        [/filter_attack]

        start_time=-1150

        [frame]
            offset=0.0~-0.2:50
        [/frame]

        [frame]
            offset=-0.2~-0.4:500,-0.4~0.85:500,0.85~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=headbutt
        [/filter_attack]
        start_time=-1150

        [frame]
            offset=0.0~-0.2:50
        [/frame]

        [frame]
            offset=-0.2~-0.4:500,-0.4~1.1:650,1.1~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Ogre_Tribal_Bull
    name= _"Tribal Bull"
    race=bull
    image="units/bulls/tribal_bull.png"
    profile="portraits/tumen/bull.png"
    hitpoints=68
    movement_type=bull
    movement=5
    experience=55
    level=2
    upkeep=0
    alignment=chaotic
    advances_to=null
    {STEPPE_AMLA_BULL}
    cost=27
    usage=fighter
    description= _ "Among the numerous ogres’ herds the most notable are the tribal bulls. Their height and mass is to match that of two bulls, twice greater is their power, twice the kinner is their beastly mind. To the rest of their kin the tribal bulls are like khans to ogres, they are chiefs, leading their herds across the steppes. Tribal bulls are attributes of power of nomadic aristocracy, shamans and lords. They are also the crucial part of ogres’ cults. Such creature like a tribal bull – is the most precious sacrifice for the grim king of the underworld, whom pray the unbridled nomads. Life force of a tribal bull, killed on the altar, is exchanged by the god of ogres for his own part of the deal – a malicious tarbynn demon, which manifests itself in the bones of a powerful beast in the real world, and obeys the commands of the priest who had summoned it. "
    die_sound=bull-die.ogg

    {DEFENSE_ANIM "units/bulls/tribal_bull.png" "units/bulls/tribal_bull.png" {SOUND_LIST:BULL_HIT} }

    [abilities]
        {ABILITY_OGREFACTION}
        {ABILITY_STEPPE_REGENERATES_LESSER 6}
        {ABILITY_STEPPE_UPKEEPLESS}
    [/abilities]

    [attack]
        name=horns
        description=_"horns"
        icon=attacks/horn.png
        type=pierce
        range=melee
        damage=10
        number=2
    [/attack]

    [attack]
        name=headbutt
        description=_"ram"
        icon=attacks/ram.png    
        type=impact
        range=melee
        damage=16
        number=1
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=horns
        [/filter_attack]

        start_time=-1150

        [frame]
            offset=0.0~-0.2:50
        [/frame]

        [frame]
            offset=-0.2~-0.4:500,-0.4~0.85:500,0.85~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=headbutt
        [/filter_attack]
        start_time=-1150

        [frame]
            offset=0.0~-0.2:50
        [/frame]

        [frame]
            offset=-0.2~-0.4:500,-0.4~1.1:650,1.1~0:200
            sound=horse-canter.wav
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {STEPPE_DRAINANIM drain}

[/unit_type]


[unit_type]
    id=Ogre_Minotaur
    name= _"Minotaur Fanatic"
    race=bull
    image="units/bulls/minotaur.png"
    halo="halo/illuminates-aura.png~O(40%)~BLEND(255,0,0,1)"
    hitpoints=55
    movement_type=bull
    [resistance]
        pierce=100
        cold=80
        arcane=120
    [/resistance]
    movement=5
    experience=75
    level=2
    alignment=chaotic
    advances_to=Ogre_Minotaur_Chosen
    cost=27
    usage=fighter
    description= _ "From time to time the opponents of ogres encountered strange creatures combining the features of both an ogre and a bull – fierce, dauntless and able to feast on vital energy. These are fanatics – ogres most devoted of all to the Bull-God, who willingly let the priests reshape their bodies in the image of their Master. Fanatics unquestioningly carry out the orders of their creators, as through them the Bull-God sends his will to this world. They are the guard on which the priestly estate relies. The presence of these terrific creatures makes the khans to be compliant, and the commoner ogres to be obedient; woe to those on whom their anger falls, and hence the wrath of the Bull God himself!"

    {STEPPE_DEATH_ANIM_TWOSOUND bull-die.ogg {SOUND_LIST:TROLL_DIE}}

    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/bulls/minotaur.png" "units/bulls/minotaur.png" {SOUND_LIST:BULL_HIT} {SOUND_LIST:TROLL_HIT}}

    [abilities]
        {ABILITY_OGREFACTION}
        {ABILITY_LIFESTEAL_AURA 1}
    [/abilities]

    [attack]
        name=club
        description=_"club"
        icon=attacks/club-lifesteal.png
        type=impact
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_STEPPE_CUSTOM_DRAIN 25}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]

        start_time=-200

        [frame]
            duration=300
        [/frame]

        {SOUND:HIT_AND_MISS club-old.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {STEPPE_DRAINANIM drain}
[/unit_type]

[unit_type]
    id=Ogre_Minotaur_Chosen
    name= _"Minotaur Chosen"
    race=bull
    image="units/bulls/minotaur2.png"
    halo="halo/illuminates-aura.png~O(50%)~BLEND(255,0,0,1)"
    hitpoints=69
    movement_type=bull
    [resistance]
        pierce=100
        cold=80
        arcane=130
    [/resistance]
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=Ogre_Minotaur_Champion
    cost=45
    usage=fighter
    description= _ "Among the fanatics (which are becoming more and more numerous every year) The Bull God chooses the strongest and most loyal, and gives them incredible vampiric abilities similar to those of the Tarbynns. The heads of the chosen ones are flayed to the bare skull, the wool receives a reddish hue from the blood that they drain out with their gaze and absorb into their bodies. With huge bone clubs at the ready, the chosen ones serve as a symbol of the power that the Bull God gifts to his faithful followers, and strike terror into ogres whose sympathies are on the side of shamans…"

    {STEPPE_DEATH_ANIM_TWOSOUND bull-die.ogg {SOUND_LIST:TROLL_DIE}}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/bulls/minotaur2.png" "units/bulls/minotaur2.png" {SOUND_LIST:BULL_HIT} {SOUND_LIST:TROLL_HIT}}

    [abilities]
        {ABILITY_OGREFACTION}
        {ABILITY_LIFESTEAL_AURA 2}
    [/abilities]

    [attack]
        name=club
        description=_"club"
        icon=attacks/club-lifesteal.png
        type=impact
        range=melee
        damage=13
        number=3
        [specials]
            {WEAPON_SPECIAL_STEPPE_CUSTOM_DRAIN 35}
        [/specials]
    [/attack]

    [attack]
        name=curse
        description=_"curse"
        icon=attacks/curse-shaman.png
        type=arcane
        range=ranged
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_STEPPE_WEAKEN 15}
        [/specials]
    [/attack]

    {OGRE_CURSE_ANIM_NEW curse magic-dark.ogg magic-dark-miss.ogg ()}

    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]

        start_time=-200

        [frame]
            duration=300
        [/frame]

        {SOUND:HIT_AND_MISS club-old.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {STEPPE_DRAINANIM drain}
[/unit_type]

[unit_type]
    id=Ogre_Minotaur_Champion
    name= _"Bull God's Champion"
    race=bull
    image="units/bulls/minotaur3.png"
    halo="halo/illuminates-aura.png~O(60%)~BLEND(255,0,0,1)"
    hitpoints=86
    movement_type=bull
    [resistance]
        pierce=100
        cold=80
        arcane=140
    [/resistance]
    movement=5
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=70
    usage=fighter
    description= _ "Towering, with mighty bodies and ferocious skulls where their faces are supposed to be, equally menacing both in their skill with clubs and with black magic, the champions of the Bull God are bursting with such power that sometimes they were mistaken for the embodiment of their Lord himself; with a single blow a champion is able to take off a bull's head, with a single spell – to turn a healthy ogre into a weak, drained-of-all-life creature. If there are champions in a horde, it means that the Bull God favors it so much that he makes battling it seem pointless. Of course, they can be beaten, but those who manage to do this will suffer such horror and losses that no one will have any doubts: the Bull God is the strongest and most terrible of all the gods that the Great Steppe has ever known."

    {STEPPE_DEATH_ANIM_TWOSOUND bull-die.ogg {SOUND_LIST:TROLL_DIE}}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/bulls/minotaur3.png" "units/bulls/minotaur3.png" {SOUND_LIST:BULL_HIT} {SOUND_LIST:TROLL_HIT}}

    [abilities]
        {ABILITY_OGREFACTION}
        {ABILITY_LIFESTEAL_AURA 3}
    [/abilities]

    [attack]
        name=club
        description=_"club"
        icon=attacks/club-lifesteal.png
        type=impact
        range=melee
        damage=17
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]

    [attack]
        name=curse
        description=_"curse"
        icon=attacks/curse-shaman.png
        type=arcane
        range=ranged
        damage=11
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_STEPPE_WEAKEN 20}
        [/specials]
    [/attack]

    {OGRE_CURSE_ANIM_NEW curse magic-dark.ogg magic-dark-miss.ogg ()}

    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS club-old.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    {STEPPE_DRAINANIM drain}
[/unit_type]
