#textdomain wesnoth-gse

[unit_type]
    id=Ogre_Abomination
    name= _"Tarbynn Abomination"
    race=undead
    image="units/bull-demons/demon3.png"
    hitpoints=43
    movement_type=tarbynn
    movement=6
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=57
    usage=scout
    description= _ "Abomination are powerful monsters from the underworld. They were named so because no other word can truly describe these imposing and bloodthirsty creatures. The summoning of an Abomination is an monumental event for the steppe horde. To summon this beast, shamans shed rivers of blood, hundreds of bull bones fill a giant cauldron, and dozens of strong and furious ogres are sacrificed. All of this because the lord of the underworld himself is watching this: without the personal permission of the Bull God, the summoning will not work, so he needs to be offered generous gifts. As a result of bloody spells and terrible rituals, which can last for several days, from the black cauldron, which in such cases is called the Bloody Gate, a giant bone monstrosity with hungry burning eyes is born, which is soaked in blood, and which craves for more of the red liquid every second of its existence. As soon as possible, the Abomination is sent into battle. None of the sedentary peoples who met the Nightmare in battle could return and convey the horror it instills in their opponents. And the ogres themselves try to forget battles side-by-side with the Abomination, like a bad dream. Imagine for yourself: a giant bone beast rushes over the battlefield and collects a bloody harvest: under its piercing howl, like the howl of the wind in a hurricane, whole squads of friends and enemies alike fall to the ground at once, their blood boils, ruptures blood vessels and from under the skin flies in red streams into the ribs of the monster. And those who tried to stop the Nightmare in close combat are torn to pieces by huge claws or are crushed by its ominous skull. Where the Abomination flew by, a trail of dry and shriveled corpses and pieces of bodies remains, while not a drop of blood is left either in the dead or on the ground. Stopping such undead and sending them to another world after the war is as important an event as the summoning. Once again, rivers of blood, more sacrifices, sacrifices, and sacrifices, and all for the sake of the subterranean ruler personally taking his foul creation from this world. Throughout the history of the ogres, the Abominations have been called only a few times, but each of these calls is firmly imprinted in the memory of generations. So the ogres developed a fear of bull priests, and their neighbors have chilling legends about bloody demons from the depths of the steppes, which at any moment can wake up again and cause another apocalypse."
    die_sound=lich-die.ogg
    {DEFENSE_ANIM "units/bull-demons/demon3.png" "units/bull-demons/demon3.png" wail-sml.wav }
    
    {STEPPE_FLOAT_STANDING_ANIM}

    [abilities]
        {ABILITY_OGREFACTION}
        {ABILITY_DEPLETING 2}
        {ABILITY_STEPPE_UPKEEPLESS}
    [/abilities]

    {TARBYNN_DEATHANIM 150 225}

    [attack]
        name=headbutt
        description=_"headbutt"
        icon=attacks/ram.png
        type=impact
        range=melee
        damage=7
        number=3
    [/attack]

    [attack]
        name=claws
        description=_"claws"
        icon=attacks/claws-undead.png
        type=blade
        range=melee
        damage=5
        number=5
    [/attack]

    [attack]
        name=tail
        description=_"tail"
        icon=attacks/tail-bone.png
        type=pierce
        range=melee
        damage=20
        number=1
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack]
        name=drain
        description=_"drain life"
        icon=attacks/blood-magic-3.png
        type=cold
        range=ranged
        damage=9
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]

    {STEPPE_DRAINANIM drain}

    [attack_anim]
        [filter_attack]
            name=headbutt
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=tail
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -100}
    [/attack_anim]
[/unit_type]
