#textdomain wesnoth-gse
[unit_type]
    id=Mandate_Jorogumo
    name= _ "Jorogumo"
    race=steppe_yokai
    gender=female
    image="units/mandate/jorogumo.png"
    hitpoints=34
    movement_type=mandatespider
    movement=5
    experience=36
    level=1
    alignment=chaotic
    advances_to=Mandate_Death_Weaver
    cost=21
    usage=mixed fighter
    description= _ ""
    {STEPPE_DEATH_ANIM_TWOSOUND {SOUND_LIST:HUMAN_FEMALE_DIE} hiss-big.wav}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/mandate/jorogumo.png" "units/mandate/jorogumo.png" {SOUND_LIST:HUMAN_FEMALE_HIT} hiss.wav}
    [abilities]
    {ABILITY_MANDATEFACTION}
    [/abilities]

    [attack]
        name=fangs
        description=_"bite"
        icon=attacks/fangs-spider.png
        type=pierce
        range=melee
        damage=6
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=web
        description=_"web"
        type=impact
        range=ranged
        damage=4
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
#            {WEAPON_SPECIAL_STEPPE_REDUCE_DEFENSE 3}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=web
        [/filter_attack]
        start_time=-200
        missile_start_time=-200
        [missile_frame]
            duration=200
            image="projectiles/web.png"
            image_diagonal="projectiles/web.png"
        [/missile_frame]
        [frame]
            duration=500
        [/frame]
        {SOUND:HIT_AND_MISS net.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100
        start_time=-250
        [frame]
            duration=400
        [/frame]
        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    {STEPPE_MANDATE_TELEPORT_ANIM 72}
[/unit_type]

[unit_type]
    id=Mandate_Death_Weaver
    name= _ "Death Weaver"
    race=steppe_yokai
    gender=female
    image="units/mandate/death_weaver.png"
    hitpoints=46
    movement_type=mandatespider
    movement=5
    experience=78
    level=2
    alignment=chaotic
    advances_to=Mandate_Chthonic_Empress
    cost=38
    usage=mixed fighter
    description= _ ""
    {STEPPE_DEATH_ANIM_TWOSOUND {SOUND_LIST:HUMAN_FEMALE_DIE} hiss-big.wav}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/mandate/death_weaver.png" "units/mandate/death_weaver.png" {SOUND_LIST:HUMAN_FEMALE_HIT} hiss.wav}
    [abilities]
    {ABILITY_MANDATEFACTION}
    [/abilities]

    [attack]
        name=fangs
        description=_"bite"
        icon=attacks/fangs-spider.png
        type=pierce
        range=melee
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=web
        description=_"web"
        type=impact
        range=ranged
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
#            {WEAPON_SPECIAL_STEPPE_REDUCE_DEFENSE 3}
        [/specials]
    [/attack]
    [attack]
        name=needle
        description=_"needle"
        icon=attacks/dagger-thrown-human.png
        type=pierce
        range=ranged
        damage=16
        number=1
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_STEPPE_DOUBLE_ATTACK}
            {WEAPON_SPECIAL_STEPPE_ATTACK_ONLY}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=needle
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        start_time=-200
        [frame]
            duration=250
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=web
        [/filter_attack]
        start_time=-200
        missile_start_time=-200
        [missile_frame]
            duration=200
            image="projectiles/web.png"
            image_diagonal="projectiles/web.png"
        [/missile_frame]
        [frame]
            duration=500
        [/frame]
        {SOUND:HIT_AND_MISS net.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100
        start_time=-250
        [frame]
            duration=400
        [/frame]
        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    {STEPPE_MANDATE_TELEPORT_ANIM 82}
[/unit_type]

[unit_type]
    id=Mandate_Chthonic_Empress
    name= _ "Chthonic Empress"
    race=steppe_yokai
    gender=female
    image="units/mandate/chthonic_empress.png"
    hitpoints=58
    movement_type=mandatespider
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=56
    usage=mixed fighter
    description= _ ""
    {STEPPE_DEATH_ANIM_TWOSOUND {SOUND_LIST:HUMAN_FEMALE_DIE} hiss-big.wav}
    {STEPPE_DEFENSE_ANIM_TWOSOUND "units/mandate/chthonic_empress.png" "units/mandate/chthonic_empress.png" {SOUND_LIST:HUMAN_FEMALE_HIT} hiss.wav}
    [abilities]
    {ABILITY_MANDATEFACTION}
    [/abilities]

    [attack]
        name=fangs
        description=_"bite"
        icon=attacks/fangs-spider.png
        type=pierce
        range=melee
        damage=14
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=web
        description=_"web"
        type=impact
        range=ranged
        damage=6
        number=4
        [specials]
            {WEAPON_SPECIAL_SLOW}
#            {WEAPON_SPECIAL_STEPPE_WEAKEN 10}
            {WEAPON_SPECIAL_STEPPE_REDUCE_DEFENSE 3}
        [/specials]
    [/attack]
    [attack]
        name=needle
        description=_"needle"
        icon=attacks/dagger-thrown-human.png
        type=pierce
        range=ranged
        damage=22
        number=1
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_STEPPE_DOUBLE_ATTACK}
            {WEAPON_SPECIAL_STEPPE_ATTACK_ONLY}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=needle
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/dagger-n.png"
            image_diagonal="projectiles/dagger-ne.png"
        [/missile_frame]
        start_time=-200
        [frame]
            duration=250
        [/frame]
        {SOUND:HIT_AND_MISS throwing-knife.ogg throwing-knife-miss.ogg -200}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=web
        [/filter_attack]
        start_time=-200
        missile_start_time=-200
        [missile_frame]
            duration=200
            image="projectiles/web.png"
            image_diagonal="projectiles/web.png"
        [/missile_frame]
        [frame]
            duration=500
        [/frame]
        {SOUND:HIT_AND_MISS net.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=fangs
        [/filter_attack]
        offset=0.0~-0.1:100,-0.1~0.0:50,0.0~0.3:50,0.3~0.5:100,0.5~0.6:50,0.6~0.4:100,0.4~0.2:50,0.2~0.0:100
        start_time=-250
        [frame]
            duration=400
        [/frame]
        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    {STEPPE_MANDATE_TELEPORT_ANIM 82}
[/unit_type]