#textdomain wesnoth-gse

#define ABILITY_STEPPE_BLOOD_UPKEEP
	[dummy]
		id=steppe_blood_upkeep
		name=_"blood tribute"
		description=_"Instead of gold, this unit spends its own hitpoints to upkeep themselves."
	[/dummy]
[/abilities]
upkeep=0
[event]
	name=side turn 
	first_time_only=no 
	id=steppe_blood_upkeep_event 

		[store_unit]
			[filter]
				side=$side_number 
				ability=steppe_blood_upkeep 
			[/filter]
			variable=blood_upkeep_units 
			kill=no 
		[/store_unit]

		[foreach]
			array=blood_upkeep_units
			index_var=i 

			[do]
				[harm_unit]
					[filter]
						find_in=this_item 
					[/filter]
					amount=$this_item.level 
					kill=no 
					animate=no
				[/harm_unit]
			[/do]
		[/foreach]

		{CLEAR_VARIABLE blood_upkeep_units}
	[/event]
[+abilities] 
#enddef

#define WEAPON_SPECIAL_STEPPE_SLAVE_TRADE
	[dummy]
		id=steppe_slave_trade
		name=_"slave trade"
		description=_""
	[/dummy]
	[/specials]
[/attack]

[event]
name=last breath 
first_time_only=no 

	[filter]
		[not]
			type=Tumen_Cage
		[/not]
	[/filter]
   
	[filter_second_attack]
		special_id=steppe_slave_trade
	[/filter_second_attack]

	[sound]
		name=slowed.wav
	[/sound]

	[store_unit]
		[filter]
			find_in=unit 
		[/filter]
		kill=no
		variable=slave 
	[/store_unit]

	{VARIABLE cage_name $slave.language_name}

	[set_variables]
		name=cages 
		mode=append 
		[insert_tag]
			name=value 
			variable=slave 
		[/insert_tag]
	[/set_variables]

	[floating_text]
		x,y=$unit.x,$unit.y 
		{COLOR_HARM}
		text=_ "Captured!"
	[/floating_text]

	[kill]
		x,y=$unit.x,$unit.y 
		fire_event=no 
		animate=no 
	[/kill]

	{CLEAR_VARIABLE slave}

	{UNIT $second_unit.side Tumen_Cage $unit.x $unit.y (
	name=_ "$cage_name"
	)}
	{CLEAR_VARIABLE cage_name}
	[return][/return]
[/event]
[event]
name=last breath
first_time_only=no 

	[filter]
		type=Tumen_Cage
	[/filter]

	[for]
		array=cages 
		index_var=i 
		[do] 
			[if]
				[variable]
					name=cages[$i].x 
					equals=$unit.x 
				[/variable]
			[and]
				[variable]
					name=cages[$i].y
					equals=$unit.y 
				[/variable]
			[/and]
			[then]

				{VARIABLE cages[$i].hitpoints $cages[$i].max_hitpoints}
				{VARIABLE_OP cages[$i].hitpoints multiply 0.33}
				{VARIABLE_OP cages[$i].hitpoints round ceil}

				[sound]
					name={SOUND_LIST:HOLY}
				[/sound]

				[floating_text]
					x,y=$cages[$i].x,$cages[$i].y 
					{COLOR_HEAL}
					text=_ "Freedom!"
				[/floating_text]

				[unstore_unit]
					variable=cages[$i] 
					find_vacant=no 
					x,y=$unit.x,$unit.y
				[/unstore_unit]

				{CLEAR_VARIABLE cages[$i]}
				[break][/break]
			[/then]
			[/if]
		[/do]
	[/for]
[/event]

[event]
name=side turn 
first_time_only=no 

	[for]
		array=cages 
		index_var=i 
		[do] 
			[if]
				[have_unit]
					type=Tumen_Cage
					side=$side_number
					x,y=$cages[$i].x,$cages[$i].y
				[/have_unit]
			[then]		

				[scroll_to_unit]
					x,y=$cages[$i].x,$cages[$i].y 
				[/scroll_to_unit]

				[floating_text]
					x,y=$cages[$i].x,$cages[$i].y 
					color=255,215,0 
					text=_ "+ $cages[$i].cost gold!"
				[/floating_text]

				[sound]
					name=gold.ogg 
				[/sound]

				[kill]
					x,y=$cages[$i].x,$cages[$i].y 
					animate=no 
				[/kill]

				[gold]
					side=$side_number
					amount=$cages[$i].cost
				[/gold]

				{CLEAR_VARIABLE cages[$i]}
				[break][/break]
			[/then]
			[/if]
		[/do]
	[/for]
[/event]
[+attack]
[+specials]
#enddef
