#textdomain wesnoth-gse

#define ABILITY_MANDATEFACTION
    [dummy]
        id=mandatefaction
    [/dummy]
#enddef

#define ABILITY_ABYSSAL_RIFT RADIUS
    [dummy]
        id=abyssal_rift{RADIUS}
        name= _ "abyssal rift"+" {RADIUS}"
        description= _ "This unit may allows allied units to teleport between units with this ability."
    [/dummy]
    [dummy]
        id=abyssal_rift_filter#for filtering
    [/dummy]
    #note: the recruitment code is handled in the eventloader
    # wmlxgettext: [abilities]
[/abilities]
[event]
    name=unit placed
    id=steppe_mandate_abyssal_rift{RADIUS}
    first_time_only=no
    [tunnel]
    id=abyssal_rift{RADIUS}
    bidirectional=no
#    remove=yes
    [filter]
       side=$side_number
    [/filter]
    [source]
#    radius=1
    [filter]
       ability=abyssal_rift{RADIUS}
       [not]
           id=$teleport_unit.id
       [/not]
       [filter_side]
       [allied_with]
          side=$side_number
       [/allied_with]
       [/filter_side]
    [/filter]
    [/source]
    [target]
    [filter]
       ability=abyssal_rift_filter
       [not]
           id=$teleport_unit.id
       [/not]
       [filter_side]
       [allied_with]
          side=$side_number
       [/allied_with]
       [/filter_side]
#       side=$side_number
       [filter_location]
            [filter]
              id=$teleport_unit.id
            [/filter]
            radius={RADIUS}
       [/filter_location]
    [/filter]
#    [and]
#    [filter]
#      id=$teleport_unit.id
#    [/filter]
#    radius={RADIUS}
#    [/and]
#    [and]
#    [filter]
#       ability=abyssal_rift{RADIUS}
#       [not]
#           id=$teleport_unit.id
#       [/not]
#    [/filter]
#    radius={RADIUS}
#    [/and]
#    [and]
#        [filter]
#           ability=abyssal_rift_filter
#           [not]
#               id=$teleport_unit.id
#           [/not]
#           [filter_side]
#           [allied_with]
#              side=$side_number
#           [/allied_with]
#           [/filter_side]
#    #       side=$side_number
#        [/filter]
#    [/and]
    [/target]
    [/tunnel]
[/event]
[+abilities]
    # wmlxgettext: [/abilities]
#enddef

#define WEAPON_SPECIAL_SECONDSTRIKE
    [firststrike]
        id=steppe_secondstrike
        name=_"secondstrike"
        description=_"This unit always strikes second with this attack, even if they are attacking."
        apply_to=opponent
    [/firststrike]
#enddef

#define ABILITY_DAUNTLESS
    [resistance]
        id=steppe_dauntless
        multiply=2
        max_value=50
        # applies to any type if we leave it out
        #apply_to=blade,pierce,impact,fire,cold,arcane
        [filter_base_value]
            greater_than=0
            less_than=50
        [/filter_base_value]
        name= _ "dauntless"
        female_name= _ "female^dauntless"
        description= _ "This unit’s resistances are doubled, up to a maximum of 50%, when attacking. Vulnerabilities are not affected."
        special_note={INTERNAL:SPECIAL_NOTES_STEADFAST}
        affect_self=yes
        active_on=offense
    [/resistance]
#enddef

#define EVENTLOADER_EVENTS_MANDATE
#enddef