#textdomain wesnoth-gse

##define GREATSTEPPE_OPTIONS_HINTS
#        [checkbox]
#            id=steppe_disable_start_hint
#            default=no
#            name="Disable starting hint"
#            description="Disables the faction hints each player gets at the start of the game. You can still view them via a rightclick menu on the leader."
#        [/checkbox]
#        [checkbox]
#            id=steppe_disable_hint_menu
#            default=no
#            name="Disable hint menu"
#            description="Disables the faction hint menu. Useful if you're already familiar with the era, or you have other add-ons that heavily rely on rightclick #menu."
#        [/checkbox]
##enddef
#
##define GREATSTEPPE_OPTIONS_WALLS
#        [slider]
#            id=steppe_wallradius
#            default=3
#            min=1
#            max=7
#            step=1
#            name="Wall radius"
#            description="(Default: 3) Radius for the slav faction's starting walls. This is for when map terrain prevents most of the walls from spawning. Warning: #setting this value too high may cause lag at the start."
#        [/slider]
#        [checkbox]
#            id=steppe_thickwalls
#            default=no
#            name="Thick Walls (not balanced)"
#            description="The slav walls are now 2 units tight. Works best with wall radius set to at least 4-5. Not intended for balanced matches"
#        [/checkbox]
#        [checkbox]
#            id=steppe_disablebuildings
#            default=no
#            name="Disable starting buildings"
#            description="Disables the buildings that the slav faction starts with. The faction was designed with the buildings in mind, so it is advised to only use #this if it messes with the map you're playing, or if you're playing RPG maps (like Colosseum)."
#        [/checkbox]
##enddef

#define GREATSTEPPE_OPTIONS
[options]
        [checkbox]
            id=steppe_disable_oversight_halos
            default=no
            name="Disable oversight halos"
            description="Units with oversight/khagan's presence abilities will no longer have halos to show the radius of the abilities"
        [/checkbox]
        [checkbox]
            id=steppe_disable_demon_halos
            default=no
            name="Disable demon halos"
            description="Demons will no longer have halos to show the radius they can reproduce with witches."
        [/checkbox]
        [checkbox]
            id=steppe_disable_faction_flags
            default=no
            name="Remove faction flags"
            description="If this is not enabled, each faction has their own village flag type. Recommend to enable this option this for tournaments/other serious PvP matches, as the flags give away a player's faction."
        [/checkbox]
        [checkbox]
            id=steppe_disable_calculator_menu
            default=no
            name="Disable slave/disloyal/captured calculator menus"
            description="Disables the slave/disloyal/cursed/captured level calculator menus. Useful if you don't want too many menus."
        [/checkbox]
        [checkbox]
            id=steppe_disable_pillage_scrolling
            default=no
            name="Disable camera scrolling on pillage"
            description="The camera will no longer move when a village is burned. Useful if you are either playing on a big map, or playing with shroud."
        [/checkbox]
        [checkbox]
            id=steppe_disable_birthturntext
            default=no
            name="Disable the birth turns text in the UI"
            description="The UI will no longer show the amount of turns a witch has before birth."
        [/checkbox]
        [checkbox]
            id=steppe_disable_leadernerfs
            default=no
            name="Disable PvP leader nerfs"
            description="By default certain leaders get negative traits to make them balanced for PvP. However, if you're playing some other gamemode, you can disable that if you want."
        [/checkbox]
        [checkbox]
            id=steppe_disable_ai
            default=no
            name="Disable all Custom AI"
            description="Disables all of steppe's custom AI features (use this if you experience OOS or other severe bugs with AI sides in multiplayer)"
        [/checkbox]
        [checkbox]
            id=steppe_experimental_ai
            default=no
            name="Enable experimental custom AI"
            description="Enables experimental build AI for the Triumvirate faction. Warning: can be buggy"
        [/checkbox]
#currently disabled until the hints are reworked
#        {GREATSTEPPE_OPTIONS_HINTS}
#        {GREATSTEPPE_OPTIONS_WALLS}
#ifdef STEPPE_ENABLE_TEST_FACTIONS
#endif
[/options]
#enddef

#define TRAIT_UNINSPIRING
    #replaces leadership with lesser leadership, used for ogre pan leaders
    [trait]
        id=uninspiring
        male_name=_"uninspiring"
        female_name=_"female^uninspiring"
        description=_"This unit is not very good at inspiring allies. Leadership is replaced with lesser leadership."
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_LESSER_LEADERSHIP}
            [/abilities]
        [/effect]
        [effect]
            apply_to=remove_ability
            [abilities]
                {ABILITY_LEADERSHIP}
            [/abilities]
        [/effect]
    [/trait]
#enddef

#define TRAIT_STEPPE_OLD
    # Units with trait Old get a -1 increment in damage and -4 hitpoints
    [trait]
        id=steppe_old
        male_name= _ "old"
        female_name= _ "female^old"
        [effect]
            apply_to=attack
            increase_damage=-1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=-4
        [/effect]
    [/trait]
#enddef

#define TRAIT_FRAGILE
    # Units with trait Fragile weak get -4 hitpoints
    [trait]
        id=frail
        male_name= _ "fragile"
        female_name= _ "female^fragile"
        [effect]
            apply_to=hitpoints
            increase_total=-4
        [/effect]
    [/trait]
#enddef

#define STEPPE_NERF_PVP_LEADERS
    #balance changes that are leader-specific for pvp, instead of affecting units directly
    [event]
        name=prestart
        id=steppe_nerf_leaders
        [lua]
            code = << wesnoth.require("~add-ons/1The_Great_Steppe_Era/lua/slow_7mp_leaders.lua").slow_7mp_leaders(...) >>
            [args]
                {TRAIT_SLOW}
            [/args]
        [/lua]
        [if]
        {VARIABLE_CONDITIONAL steppe_disable_leadernerfs not_equals yes}
        [then]
        [lua]
            code = << wesnoth.require("~add-ons/1The_Great_Steppe_Era/lua/nerf_strong_leaders.lua").nerf_strong_leaders(...) >>
            [args]
                {TRAIT_STEPPE_OLD}
                unit_tree=Ogre_Apprentice,Khaganate_Serpenthead,Kingdom_Pan
            [/args]
        [/lua]
        [lua]
            code = << wesnoth.require("~add-ons/1The_Great_Steppe_Era/lua/nerf_strong_leaders.lua").nerf_strong_leaders(...) >>
            [args]
                {TRAIT_FRAGILE}
                unit_tree=Khaganate_Naga_Overseer,Hunn_Wild_Witch
            [/args]
        [/lua]
        [lua]
            code = << wesnoth.require("~add-ons/1The_Great_Steppe_Era/lua/nerf_strong_leaders.lua").nerf_strong_leaders(...) >>
            [args]
                {TRAIT_SLOW}
                unit_tree=Slav_Temsk_Ravenblade
            [/args]
        [/lua]
#the leader nerf feature being actually used for buffs instead :)
        [lua]
            code = << wesnoth.require("~add-ons/1The_Great_Steppe_Era/lua/nerf_strong_leaders.lua").nerf_strong_leaders(...) >>
            [args]
                {TRAIT_STRONG}
                unit_tree=Slav_Militia
            [/args]
        [/lua]
        [lua]
            code = << wesnoth.require("~add-ons/1The_Great_Steppe_Era/lua/nerf_strong_leaders.lua").nerf_strong_leaders(...) >>
            [args]
                {TRAIT_DEXTROUS}
                unit_tree=Slav_Archer
            [/args]
        [/lua]
        [lua]
            code = << wesnoth.require("~add-ons/1The_Great_Steppe_Era/lua/nerf_strong_leaders.lua").nerf_strong_leaders(...) >>
            [args]
                {TRAIT_UNINSPIRING}
                unit_tree=Kingdom_Pan
            [/args]
        [/lua]
        [/then]
        [/if]
    [/event]
#enddef

#

#unused detailed english/russian descriptions (removed for now so the era description doesn't take up a fuckton of space)


#В данный момент доступны 3 фракции: Бычий Тумен, Змеиный Каганат и Ковен Мертвого Поля.
#
#Бычий тумен — это фракция огров-кочевников, которые поклоняются ужасному Богу-Быку. Играя за эту фракцию, вы будете управлять ордой степных #варваров, сжигать деревни, захватывать пленников, переезжать врага гигантскими колесницами и призывать кровожадных созданий Бога-Быка. Фракция #очень агрессивна и сильна в начале игры, но в затяжной партии теряет свою силу.
#
#Змеиный каганат — это южная фракция змееглавов и подчинённых им народов. Играя за эту фракцию, вы будете командовать разнообразной и гибкой армией #из представителей разных рас; чтобы победить, вам придётся удержать под контролем рабов и дезертиров, порабощать волю бойцов врага и умело #сочетать хаотичных и порядочных юнитов. Лучше всего фракция раскрывается в среднюю стадию игры.
#
#Ковен Мёртвого Поля — это фракция, собранная беглой княжной-ведьмой в восточных землях Великой Степи. Играя за эту фракцию, вы будете управлять #зловещей ратью из беглых ведьм, демонов, кановаров-полукровок и древнего ужаса степи в лице одержимых духами первобытных зверей, сотканных из #ужаса призраков-волков и скелетных кочевников. Вам предстоит поддерживать и размножать новую расу кочевников-полудемонов и постепенно накапливать #свою мощь. Фракция слаба в начальной стадии игры, но сильна в затяжной партии, когда удаётся собрать несколько поколений кановаров и смести #вражеское войско ордой полукровок под руководством самих демонов.
#
#Троеградье северных князей — это фракция людей севера. Три княжества заключили союз, чтобы дать отпор злу, что надвигается из степи. Играя за #троеградье, вы будете командовать разнообразной и гибкой армией. Ваши бойцы смогут строить укрепления, улучшать доспехи, вдохновлять союзников на #битву. Используйте созидательный потенциал северян, чтобы разгромить армии кочевников!


#At the moment there are 3 factions available: the Bull Tumen, Serpent Kaganate and Deaf Field Coven.
#
#The Bull Tumen is a faction of ogre nomads who worship the terrible Bull God. Playing as this faction, you will control a horde of barbarians of #the steppe, burn villages, capture prisoners, run over the enemy with giant chariots and summon the bloodthirsty spawn of the Bull God. The #faction is very aggressive and strong at the beginning of the game, but loses its strength as the match drags on.
#
#The Serpent Kaganate is the southern faction of serpentheads and their subordinate peoples. Playing as this faction, you will command a diverse #and flexible army consisting of members of different races; to win, you will have to keep the slaves and deserters under control, enslave the will #of the enemy fighters and skillfully combine lawful and chaotic units. The faction is usually best at the middle stage of a match.
#
#The Dead Field Coven is a faction gathered by the fugitive witch-queen in the eastern lands of the Great Steppe. Playing as this faction, you will #control a sinister army of fugitive witches, demons, half-blood kanavars and the ancient horrors of the steppe in the form of primitive beasts #possessed by the spirits, ghost wolves woven from fear, and skeletal nomads. You have to support and breed the new race of nomad half-demons and #gradually accumulate your power. The faction is weak at the initial stage of the game, but strong in a long game, when it is possible to gather #several generations of kanavars and sweep away the enemy army with a horde of half-breeds led by the demons themselves.
#
#
#The Northern Knyaz Triumvirate is a faction of the people of the north. The three knyazdoms entered into an alliance to fight back the evil that #is approaching from the steppe. Playing as the triumvirate, you will command a diverse and flexible army. Your units will be able to build #fortifications, improve armor and inspire allies to battle. Use the creative potential of the northerners to defeat the nomad armies!

#define STEPPE_RANDOM_SIDE_BALANCED
    [multiplayer_side]
        id=steppe_Random_balanced
        name= _"Balanced Random"
        image="units/random-dice.png"
        random_faction=yes
        choices=ogres,khaganate,hunns,slavs#TODO: when adding fifth/later factions, don't add them here until proper testing
    [/multiplayer_side]
#enddef

#TODO: add ogre kingdom

#define STEPPE_RANDOM_SIDE_GSE
    [multiplayer_side]
        id=steppe_Random_gse
        name= _"Random GSE"
        image="units/random-dice.png"
        random_faction=yes
        choices=ogres,khaganate,hunns,slavs,mandate
    [/multiplayer_side]
#enddef

#define STEPPE_RANDOM_SIDE_GSE_AOH
    [multiplayer_side]
        id=steppe_Random_gse
        name= _"Random GSE"
        image="units/random-dice.png"
        random_faction=yes
        choices=ogres_aoh,khaganate_aoh,hunns_aoh,slavs_aoh,mandate_aoh
    [/multiplayer_side]
#enddef

#define STEPPE_RANDOM_SIDE_GSE_RPG
    [multiplayer_side]
        id=steppe_Random_gse
        name= _"Random GSE"
        image="units/random-dice.png"
        random_faction=yes
        choices=ogres_rpg,khaganate_rpg,hunns_rpg,slavs_rpg,mandate_rpg
    [/multiplayer_side]
#enddef

#define STEPPE_RANDOM_SIDE_DEFAULT
    [multiplayer_side]
        id=steppe_Random_default
        name= _"Random Default"
        image="units/random-dice.png"
        random_faction=yes
        choices=Drakes,Loyalists,Rebels,Undead,Northerners,Knalgan Alliance,Dunefolk
    [/multiplayer_side]
#enddef

#define MAINLINE_PORTRAIT FOLDER IMAGE
#ifver WESNOTH_VERSION >= 1.14.0
#    small_profile="portraits/{FOLDER}/{IMAGE}.png~SCALE(205,205)"
    profile="portraits/{FOLDER}/{IMAGE}.png"
#else
#    small_profile="portraits/{FOLDER}/transparent/{IMAGE}.png~SCALE(205,205)"
    profile="portraits/{FOLDER}/transparent/{IMAGE}.png"
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/{FOLDER}/transparent/{IMAGE}.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/{FOLDER}/transparent/{IMAGE}.png"
    [/portrait]
#endif    
#enddef

#define STEPPE_LUA_CALCULATE_UNIT_SPRITE_SIZE UNITVAR RETURN_VAR_WIDTH RETURN_VAR_HEIGHT
    [store_unit]
        [filter]
            id=${UNITVAR}.id
        [/filter]
        variable=steppe_lua_spritecalc
        kill=no
    [/store_unit]

    [lua]
        [args]
            unitvar={UNITVAR}
            returnvar_width_width={RETURN_VAR_WIDTH}
            returnvar_width_height={RETURN_VAR_HEIGHT}
        [/args]
        code=<<
            local t = ...
            local imgunit = wml.variables["steppe_lua_spritecalc.id"]
            local imgunit_img = wml.variables["steppe_lua_spritecalc.image"]
            local w, h = filesystem.image_size(imgunit_img)
            wml.variables["debug_unitid"] = imgunit
            wml.variables[t.returnvar_width_width] = w
            wml.variables[t.returnvar_width_height] = h
        >>
    [/lua]

    {CLEAR_VARIABLE steppe_lua_spritecalc}
#enddef

#define SOUND_LIST:BULL_HIT
bull-hit-[1~3].ogg #enddef

#define SOUND_LIST:HOLY_OGRE
magic-holy-ogre-[1~4].ogg #enddef

#define SOUND_LIST:HOLY_OGRE_MISS
magic-holy-ogre-miss-[1~4].ogg #enddef

#define STEPPE_TOD_ILLUMINATED
    [time]
        id=steppe_illuminated
        name= _ "Illuminated"
        image="misc/time-schedules/schedule-underground-illum.png~BLIT(misc/tod-bright.png)"#image copied from mainline into GSe folder
        lawful_bonus=25
    [/time]
#enddef

#define STEPPE_TOD_DARKENED
    [time]
        id=steppe_darkened
        name= _ "Darkened"
        image="misc/time-schedules/schedule-underground.png~BLIT(misc/tod-dark.png)"
        lawful_bonus=-25
        red=-75
        green=-45
        blue=-13
    [/time]
#enddef

##define GSE_SMOOTH_REPLACE_MUSIC NEW_TRACK FADE_OUT_TIME FADE_IN_TIME
#    [lua]
#        code=<<
#    wesnoth.require "~add-ons/1The_Great_Steppe_Era/lua/steppe_lua_functions.lua"
#
#    local arg = ... -- the ... is used to pass parameters from the [args] tag
#
#    GSE_smooth_replace_music(arg.track,arg.fade_out_time,arg.fade_in_time)
#    >>
#        [args]
#            track={NEW_TRACK}
#            fade_out_time={FADE_OUT_TIME}
#            fade_in_time={FADE_IN_TIME}
#        [/args]
#    [/lua]
##enddef

#define GSE_SMOOTH_REPLACE_MUSIC NEW_TRACK FADE_OUT_TIME FADE_IN_TIME

{VARIABLE tmp_smooth_volume 100}
{VARIABLE tmp_smooth_delay_time "$({FADE_OUT_TIME} / 10)"}

{REPEAT 10 (
{VARIABLE_OP tmp_smooth_volume sub 10}
[volume]
    music=$tmp_smooth_volume
[/volume]
[delay]
    time=$tmp_smooth_delay_time
[/delay]
)}

[volume]
    music=0
[/volume]

{REPLACE_SCENARIO_MUSIC {NEW_TRACK}}

{VARIABLE tmp_smooth_delay_time "$({FADE_IN_TIME} / 10)"}

{REPEAT 10 (
{VARIABLE_OP tmp_smooth_volume add 10}
[volume]
    music=$tmp_smooth_volume
[/volume]
[delay]
    time=$tmp_smooth_delay_time
[/delay]
)}

[volume]
    music=100
[/volume]

{CLEAR_VARIABLE tmp_smooth_volume}
{CLEAR_VARIABLE tmp_smooth_delay_time}
#enddef

#define STEPPE_EXECUTE_IF_SYNCED CODE
[lua]
    code=<<
--    wesnoth.message("current sync state "..wesnoth.current.synced_state)
    wml.variables["tmp_syncedcheck_issynced"] = wesnoth.current.synced_state
    >>
[/lua]
[if]
{VARIABLE_CONDITIONAL tmp_syncedcheck_issynced equals synced}
[then]
{CODE}
[/then]
[/if]
{CLEAR_VARIABLE tmp_syncedcheck_issynced}
#enddef

#using this copied macro to make switching to 1.18 less of a hassle (I can slowly start replacing the macros after porting). TODO: eventually replace all instances of these macros in the era with proper foreach/while loop tags

#define GSE_DEPRECATED_MACRO_FOREACH ARRAY_VALUE VAR
{VARIABLE {VAR} 0}
[while]
    [variable]
    name={VAR}
    less_than=${ARRAY_VALUE}.length
    [/variable]
    [do]
#enddef

#define GSE_DEPRECATED_MACRO_NEXT VAR
    [set_variable]
    name={VAR}
    add=1
    [/set_variable]
    [/do]
[/while]
{CLEAR_VARIABLE {VAR}}
#enddef

#define FIND_MATCHING_ATTACK_SLOT WEAPONVAR UNITVAR OUTPUTVAR
[foreach]
    array={UNITVAR}.attack
    index_var=i
    [do]
#        [chat]
#            message=$i
#        [/chat]
        [if]
            {VARIABLE_CONDITIONAL this_item.damage equals ${WEAPONVAR}.damage}
            [and]
                {VARIABLE_CONDITIONAL this_item.number equals ${WEAPONVAR}.number}
            [/and]
            [and]
                {VARIABLE_CONDITIONAL this_item.icon equals ${WEAPONVAR}.icon}
            [/and]
            [and]
                {VARIABLE_CONDITIONAL this_item.type equals ${WEAPONVAR}.type}
            [/and]
            [and]
                {VARIABLE_CONDITIONAL this_item.name equals ${WEAPONVAR}.name}
            [/and]
            [and]
                {VARIABLE_CONDITIONAL this_item.description equals ${WEAPONVAR}.description}
            [/and]
            [and]
                {VARIABLE_CONDITIONAL this_item.specials equals ${WEAPONVAR}.specials}#seems to work
            [/and]
            [then]
#                [chat]
#                    message="matching attack index: $i"
#                [/chat]
                {VARIABLE {OUTPUTVAR} $i}
            [/then]
        [/if]
    [/do]
[/foreach]
#enddef
