#textdomain wesnoth-gse

[unit_type]
    id=Kingdom_Noble_Son
    name= _ "Ogre Noble Son"
    race=ogre
    image="units/kingdom/noble.png"
    hitpoints=38
    movement_type=kingdom_ogrefoot
    [resistance]
    [/resistance]
    movement=5
    experience=40
    level=1
    alignment=neutral
    advances_to=Kingdom_Heir
    cost=15
    usage=fighter
    description=_"The noble estates of feudal kindoms are largely militaristic in nature, but even they are often engaged in philosophy, science and art.
Among the Ogres, the military estate is focused exclusively on war - even if it is engaged in philosophy, science and art, then this is military philosophy, military science and military art.
The sons of noble families are engaged in war and are accustomed to it from a young age - largely under the supervision of older relatives, fathers.
Although they lack military experience and high-quality weapons, Noble Sons make up for it with youthful prowess and tenacity in battle, which will later help them achieve higher privileges through military feats."
    die_sound={SOUND_LIST:OGRE_DIE}
    {DEFENSE_ANIM "units/kingdom/noble.png" "units/kingdom/noble.png" {SOUND_LIST:OGRE_HIT} }
    [abilities]
    {ABILITY_KINGDOMFACTION}
#    {ABILITY_LEADERSHIP}
    [/abilities]

    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=7
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Kingdom_Heir
    name= _ "Ogre Heir"
    race=ogre
    image="units/kingdom/heir.png"
    hitpoints=56
    movement_type=kingdom_ogrefoot
    [resistance]
    [/resistance]
    movement=5
    experience=80
    level=2
    alignment=neutral
    advances_to=Kingdom_Pan
    cost=31
    usage=fighter
    description=_"When an Ogre son proves his abilities in battle, older feudal lords can already see him as a worthy heir. Gaining money and fame, Heirs first of all spend them on better weapons. Although they are no strangers to feasting and drinking, better equipment will more likely allow them to rise to higher honors. However, one should not ignore the internal struggle - the brother's dagger is less merciful than the axe of a foreigner."
    die_sound={SOUND_LIST:OGRE_DIE}
    {DEFENSE_ANIM "units/kingdom/heir.png" "units/kingdom/heir.png" {SOUND_LIST:OGRE_HIT} }
    [abilities]
    {ABILITY_KINGDOMFACTION}
    {ABILITY_LEADERSHIP}
    [/abilities]

    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=10
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]

        start_time=-200

        [frame]
            duration=300
#        duration=400
        #removed the animation, since the sprite got replaced
#        image="units/kingdom/heir-melee-[1~3].png:[100,200,100]"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Kingdom_Pan
    name= _ "Ogre Pan"
    race=ogre
    image="units/kingdom/pan.png"
    profile="portraits/pan.png"
    hitpoints=71
    movement_type=kingdom_ogrefoot
    [resistance]
        impact=90
    [/resistance]
    movement=5
    experience=160
    level=3
    alignment=neutral
    advances_to=Kingdom_King
    cost=50
    usage=fighter
    description=_"Heirs who were able to achieve high merits, can claim the title of Pan - the first people in the state after the King himself. Pans govern panlands, the largest divisions of the Ogre Kingdom. Such huge power also gives them the right to participate in the Sejm, where, in addition to feasts and drinking parties, important issues are being solved - for example, the elections of the King. Great influence also allows them to count on better weapons, which easily distinguish them from the closest ranks of nobility, and far from the favor of the latter."
    die_sound={SOUND_LIST:OGRE_DIE}
    {DEFENSE_ANIM "units/kingdom/pan.png" "units/kingdom/pan.png" {SOUND_LIST:OGRE_HIT} }
    [abilities]
    {ABILITY_KINGDOMFACTION}
    {ABILITY_LEADERSHIP}
    [/abilities]

    [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=14
        number=3
    [/attack]

    [attack]
        name=shield
        description= _ "shield"
        icon=attacks/heater-shield.png
        type=impact
        range=melee
        damage=18
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=shield
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Kingdom_King
    name= _ "Ogre King"
    race=ogre
    image="units/kingdom/king.png"
    profile="portraits/pan.png"
    hitpoints=85
    movement_type=kingdom_ogrefoot
    [resistance]
        blade=70
        pierce=70
        impact=90
        arcane=80
    [/resistance]
    movement=5
    experience=200
    level=4
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=80
    usage=fighter
    description=_"To live up to the title of King, a Pan requires exceptional flexibility and durability to get through numerous military campaigns and internal intrigues. The lower feudal lord cannot disobey the words of the supreme monarch - both because of great authority and a great sword, the size of which is enough to cut from head to toe the enemies of the state and the throne.
The ogre monarch holds Yatuk's Plate Glove, one of the relics of the kingdom, along with the Sword of the Founding King, which is also a symbol of secular power in the state."
    die_sound={SOUND_LIST:OGRE_DIE}
    {DEFENSE_ANIM "units/kingdom/king.png" "units/kingdom/king.png" {SOUND_LIST:OGRE_HIT} }
    [abilities]
    {ABILITY_KINGDOMFACTION}
    {ABILITY_LEADERSHIP}
    [/abilities]

    [attack]
        name=sword
        description=_"greatsword"
        icon=attacks/greatsword-human.png
        type=blade
        range=melee
        damage=18
        number=3
    [/attack]

    [attack]
#        name=mace
#        description=_"mace"
#        icon=attacks/mace-spiked.png
        name=glove
        description=_"matuk's glove"
        icon=attacks/fist.png
        type=impact
        range=melee
        damage=24
        number=2
    [/attack]

#    [attack]
#        name=glove
#        description=_"matuk's glove"
#        icon=attacks/fist.png
#        type=arcane
#        range=melee
#        damage=10
#        number=3
#        [specials]
#            {WEAPON_SPECIAL_STEPPE_FOCUSED}
#        [/specials]
#    [/attack]

    [attack]
        name=sword
        description=_"eviscerating strike"
        icon=attacks/astralblade-red.png
        type=blade
        range=melee
        damage=0
        number=1
        [specials]
            {WEAPON_SPECIAL_STEPPE_PERCENTILE_DAMAGE 50 0.5}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=glove
        [/filter_attack]

        start_time=-200

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
#        {SOUND:HIT_AND_MISS fist.ogg {SOUND_LIST:MISS} -100}
#        {SOUND:HIT_AND_MISS2 {SOUND_LIST:HOLY_OGRE} {SOUND_LIST:HOLY_OGRE_MISS} -125}
    [/attack_anim]
[/unit_type]
