#textdomain wesnoth-gse

#define STEPPE_BIRDHALO_FLOAT_STANDING_ANIM
    [standing_anim]
        [frame]
            duration=705
            y=1:255,0:150,-1:150,0:150
            halo=halo/elven/shyde-stationary-halo[1~6].png:150
        [/frame]
    [/standing_anim]
#enddef

[unit_type]
    id=Slav_Skylark
    name= _ "Skylark"
    race=mechanical
    image="units/slavs/bird.png"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=32
    movement_type=slav_magicbird
    movement=7
    experience=36
    level=1
    alignment=lawful
    advances_to=Slav_Messenger_of_Light
    cost=17
    usage=scout
    description= _ "People of the Krad worship the magical Firebird; it's this godlike creature that taught Northern masters to enchant light. Combining the craft of woodwork and sun magic, Northerners learnt to create Skylarks - magical wooden birds that come alive from a speck of the Firebird's light and carry it in their carved little body. This speck can flare up illuminating everything around with light that helps Northerners and burns their enemies. The light of the Firebird is an indispensable support in combat, and so packs of Skylarks often accompany Knyazes' hosts."
    die_sound={SOUND_LIST:HOLY_MISS}
    {DEFENSE_ANIM "units/slavs/bird.png" "units/slavs/bird.png" magicmissile.wav }
    [abilities]
    {ABILITY_SLAVFACTION}
    {ABILITY_STEPPE_BUILD bird1 _"build lights" _"This unit can build the following:

Healing Light - 5 gold and 5 moves"}
    {ABILITY_STEPPE_BUILDOPTION healing_light ( _ "Create Healing Light") 5 (Slav_Healing_Light) 5}
    [/abilities]
    {STEPPE_FLOAT_STANDING_ANIM}

    [attack]
        name=light burst
        description=_"light burst"
        icon=attacks/light-burst.png
        type=arcane
        range=ranged
        damage=5
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_STEPPE_HOLY_LIGHT}
        [/specials]
        attack_weight=1.3#to account for the aoe bonus
        #UPDATE: nevermind, attack weight above 0 doesn't change anything
    [/attack]

    [attack_anim]
        [filter_attack]
            name=light burst
        [/filter_attack]
#        start_time=-200
#        missile_start_time=-200
        start_time=-450
        missile_start_time=-200
        [if]
        hits=yes
        [missile_frame]
        halo="halo/ultraheal-[1~5].png:100"
#        halo_mod="~CS(100,100,-50)~BLEND(255,200,0,0.4)"
        offset=0.0
        [/missile_frame]
        [/if]
        [else]
        [missile_frame]
        halo="halo/ultraheal-[1~5].png~O(30%):100"
#        halo_mod="~CS(100,100,-50)~BLEND(255,200,0,0.4)"
        offset=0.0
        [/missile_frame]
        [/else]

        [frame]
            duration=500
        [/frame]

#        {SOUND:HIT_AND_MISS {SOUND_LIST:HOLY} {SOUND_LIST:HOLY_MISS} -100}
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -450}
    [/attack_anim]
    {STEPPE_SIMPLE_BUILD_ANIM}
[/unit_type]

[unit_type]
    id=Slav_Messenger_of_Light
    name= _ "Messenger of Light"
    race=mechanical
    image="units/slavs/bird2.png"
    halo="halo/illuminates-aura.png~O(70%)~BLEND(255,200,0,0.5)"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=42
    movement_type=slav_magicbird
    movement=7
    experience=60
    level=2
    alignment=lawful
    advances_to=Slav_Luminary
    cost=33
    usage=scout
    description= _ "Предвестники света — это более крупные и более искусные заколдованные механизмы. Их размеры позволяют вложить в них больше света Жар-Птицы, а потому они всегда освещают путь и не только вспыхивают благодатным светом, но и обрушивают на врагов с небес струи солнечного пламени. Предвестники света — главные помощники северян в борьбе с коварными ночными созданиями. Каждый князь заботится о том, чтобы его дружину сопровождало как можно больше таких существ."
    die_sound={SOUND_LIST:HOLY_MISS}
    {DEFENSE_ANIM "units/slavs/bird2.png" "units/slavs/bird2.png" magicmissile.wav }
    [abilities]
    {ABILITY_SLAVFACTION}
    {ABILITY_SLAV_KRAD}
    {ABILITY_STEPPE_LESSER_ILLUMINATES}
#    {ABILITY_STEPPE_HEALS 3}
    {ABILITY_HEALS}
    {ABILITY_STEPPE_BUILD bird2 _"build lights" _"This unit can build the following:

Healing Light - 5 gold and 3 moves"}
    {ABILITY_STEPPE_BUILDOPTION healing_light2 ( _ "Create Healing Light") 5 (Slav_Healing_Light) 3}
    #{ABILITY_STEPPE_BUILDING_BONUS_HITPOINTS 15}
    [/abilities]
    {STEPPE_BIRDHALO_FLOAT_STANDING_ANIM}

    [attack]
        name=light burst
        description=_"light burst"
        icon=attacks/light-burst.png
        type=arcane
        range=ranged
        damage=8
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_STEPPE_HOLY_LIGHT}
        [/specials]
        attack_weight=1.3#to account for the aoe bonus
        #update: attack weight other than 0 does nothing unfortunately
    [/attack]

    [attack]
        name=solar flame
        description=_"solar flame"
        icon=attacks/fire-blast.png
        type=fire
        range=ranged
        damage=5
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=solar flame
        [/filter_attack]
        {MISSILE_FRAME_FIRE_BREATH 11,-34 11,15 24,-22 26,10}
        start_time=-500
        [frame]
            duration=450
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -400}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=light burst
        [/filter_attack]
#        start_time=-200
#        missile_start_time=-200
        start_time=-450
        missile_start_time=-200
        [if]
        hits=yes
        [missile_frame]
        halo="halo/ultraheal-[1~5].png:100"
#        halo_mod="~CS(100,100,-50)~BLEND(255,200,0,0.4)"
        offset=0.0
        [/missile_frame]
        [/if]
        [else]
        [missile_frame]
        halo="halo/ultraheal-[1~5].png~O(30%):100"
#        halo_mod="~CS(100,100,-50)~BLEND(255,200,0,0.4)"
        offset=0.0
        [/missile_frame]
        [/else]

        [frame]
            duration=500
        [/frame]

#        {SOUND:HIT_AND_MISS {SOUND_LIST:HOLY} {SOUND_LIST:HOLY_MISS} -100}
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -450}
    [/attack_anim]
    {STEPPE_SIMPLE_BUILD_ANIM}
[/unit_type]

[unit_type]
    id=Slav_Luminary
    name= _ "Luminary"
    race=mechanical
    image="units/slavs/bird3.png"
    halo="halo/illuminates-aura.png~BLEND(255,200,0,0.5)"
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=54
    movement_type=slav_magicbird
    movement=7
    experience=70
    level=3
    alignment=lawful
    advances_to=null
    {STEPPE_AMLA_LUMINARY}
    cost=55
    usage=scout
    description= _ "Светило - это грандиозный заколдованный механизм, красотой и могуществом подобный самой Жар-Птице. Широко-широко раскидываются его резные крылья. Ярко, как солнце, освещает оно поле боя. Его свет, с которым сравнится разве что сияние самой Жар-Птицы, ослепляет врагов, а северянам придаёт бодрость духа и новые силы. Торжество ремесла и магии, гордое знамя, оно сопровождает княжеское войско в крупных походах и несёт славу Жар-Птицы далеко за пределы Троеградья."
    die_sound={SOUND_LIST:HOLY_MISS}
    {DEFENSE_ANIM "units/slavs/bird3.png" "units/slavs/bird3.png" magicmissile.wav }
    [abilities]
    {ABILITY_SLAVFACTION}
    {ABILITY_SLAV_KRAD}
    {ABILITY_ILLUMINATES}
#    {ABILITY_STEPPE_CURES 6}
    {ABILITY_CURES}
    {ABILITY_STEPPE_BUILD bird3 _"build lights" _"This unit can build the following:

Healing Light - 3 gold and 3 moves
Blessed Beacon - 8 gold and 5 moves"}
    {ABILITY_STEPPE_BUILDOPTION healing_light3 ( _ "Create Healing Light") 3 (Slav_Healing_Light) 3}
    {ABILITY_STEPPE_BUILDOPTION blessed_beacon ( _ "Create Blessed Beacon") 8 (Slav_Blessed_Beacon) 5}
    #{ABILITY_STEPPE_BUILDING_BONUS_HITPOINTS 30}
    [/abilities]
    {STEPPE_BIRDHALO_FLOAT_STANDING_ANIM}

    [attack]
        name=blinding light
        description=_"blindling light"
        icon=attacks/lightbeam.png
        type=arcane
        range=melee
        damage=10
        number=1
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack]
        name=light burst
        description=_"light burst"
        icon=attacks/light-burst.png
        type=arcane
        range=ranged
        damage=12
        number=2
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
            {WEAPON_SPECIAL_STEPPE_HOLY_LIGHT}
        [/specials]
        attack_weight=1.3#to account for the aoe bonus
        #update: attack weight other than 0 does nothing unfortunately
    [/attack]

    [attack]
        name=solar flame
        description=_"solar flame"
        icon=attacks/fire-blast.png
        type=fire
        range=ranged
        damage=7
        number=4
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=solar flame
        [/filter_attack]
        {MISSILE_FRAME_FIRE_BREATH 11,-34 11,15 24,-22 26,10}
        start_time=-500
        [frame]
            duration=450
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -400}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=light burst
        [/filter_attack]
#        start_time=-200
#        missile_start_time=-200
        start_time=-450
        missile_start_time=-200
        [if]
        hits=yes
        [missile_frame]
        halo="halo/ultraheal-[1~5].png:100"
#        halo_mod="~CS(100,100,-50)~BLEND(255,200,0,0.4)"
        offset=0.0
        [/missile_frame]
        [/if]
        [else]
        [missile_frame]
        halo="halo/ultraheal-[1~5].png~O(30%):100"
#        halo_mod="~CS(100,100,-50)~BLEND(255,200,0,0.4)"
        offset=0.0
        [/missile_frame]
        [/else]

        [frame]
            duration=500
        [/frame]

#        {SOUND:HIT_AND_MISS {SOUND_LIST:HOLY} {SOUND_LIST:HOLY_MISS} -100}
        {SOUND:HIT_AND_MISS magic-faeriefire.ogg magic-faeriefire-miss.ogg -450}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=blinding light
        [/filter_attack]
        start_time=-200
        missile_start_time=-200
        [if]
        hits=yes
        [missile_frame]
        halo="halo/ultraheal-[5~1].png:100"
#        halo_mod="~CS(100,100,-50)~BLEND(255,200,0,0.4)"
        offset=1.0
        [/missile_frame]
        [/if]
        [else]
        [missile_frame]
        halo="halo/ultraheal-[5~1].png~O(30%):100"
#        halo_mod="~CS(100,100,-50)~BLEND(255,200,0,0.4)"
        offset=1.0
        [/missile_frame]
        [/else]

        [frame]
            duration=500
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:HOLY} {SOUND_LIST:HOLY_MISS} -100}
    [/attack_anim]
    {STEPPE_SIMPLE_BUILD_ANIM}
[/unit_type]
