#textdomain wesnoth-gse
[unit_type]
    id=Khaganate_Naga_Overseer
    name= _ "Naga Overseer"
    race=steppenaga
    gender=male
    image="units/khaganate/naga.png"
    profile="portraits/naga-overseer.png"
#    {LEADING_ANIM "units/khaganate/naga.png" "units/khaganate/naga.png" 16,-25}
#    {LEADING_ANIM "units/khaganate/naga-attack-4.png" "units/khaganate/naga-attack-1.png" -5,-38}
    {LEADING_ANIM "units/khaganate/naga-attack-2.png" "units/khaganate/naga-attack-1.png" 14,-29}
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=37
    movement_type=steppenaga
    [resistance]
        blade=90
        pierce=80
    [/resistance]
    movement=5#6
    experience=40
    level=1
    alignment=neutral
    advances_to=Khaganate_Naga_Commander,Khaganate_Naga_Punisher
    cost=16
    usage=fighter
    description= _ "Overseers are the lower class of the naga aristocracy. They are young individuals who keep an eye on the slaves of the serpentheads and commanders, and in wartime serve the role of junior commanding staff. A great responsibility rests on their shoulders, because the death of an overseer often means an entire squad of slaves thrown into disarray, so they take precautions about protection and use large wooden shields. Their weapon of choice is a mace, but it is more often used against deserters and cowards than on the front lines. As a sign of their position, overseers wear expensive fabrics and blue belts at their waist. Each of them dreams of proving themself and becoming a commander, so they make slaves fight valiantly, and often arrange daring tactical operations, not really concerning themselves with losses."
    die_sound=naga-die.ogg
    {DEFENSE_ANIM "units/khaganate/naga-defend.png" "units/khaganate/naga.png" {SOUND_LIST:NAGA_HIT} }
    [abilities]
    {ABILITY_KHAGANATEFACTION}
    {ABILITY_OVERSIGHT 15}
#    {ABILITY_LESSER_LEADERSHIP}
    [/abilities]
    [attack]
        name=mace
        description=_"mace"
        icon=attacks/mace.png    
        type=impact
        range=melee
        damage=6
        number=3
        #[specials]
        #    {WEAPON_SPECIAL_CONVERT_SLAVES}
        #[/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]

        start_time=-250

        [frame]
            image="units/khaganate/naga-attack-[1~8].png:50"
        [/frame]

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Khaganate_Naga_Commander
    name= _ "Naga Bekh"
    race=steppenaga
    gender=male
    image="units/khaganate/naga2.png"
    profile="portraits/naga-overseer.png"
    {LEADING_ANIM "units/khaganate/naga2.png" "units/khaganate/naga2.png" 28,-28}
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=46
    movement_type=steppenaga
    [resistance]
        blade=85
        pierce=75
        fire=85
    [/resistance]
    movement=5#6
    experience=85
    level=2
    alignment=neutral
    advances_to=Khaganate_Naga_General
    cost=30
    usage=fighter
    description= _ "Bekh is an aristocrat title received from the tumenbashi (serpenthead leader of a khanate) by a naga who distinguished himself by his loyalty to the Khaganate in battle or in peacetime. This title is hereditary, and it comes with a decent amount of land (that land usually including several human villages). A Bekh is obliged to serve the Khaganate faithfully, to fulfill the orders of the serpentheads, to keep the inhabitants of his fief (bekhdom) in submission. For cowardice in battle or ineffective management of his lands, a bekh they can lose their title and fief.
Bekhs make up special commanding units of the Kaganate; the income from their land allows them to wear lamellar armor, arm themselves with first-class shields and armor-breaking sixaver mace, and also maintain squads of slaves under the command of overseers. In battle, the bekhs coordinate the actions of small detachments under the command of overseers or gnoll rippers, and sometimes they themselves rush into the thick of the battle, cutting through chain mail with their maces, breaking limbs, and knocking enemies off their feet with their tail. "
    die_sound=naga-die.ogg
    {DEFENSE_ANIM "units/khaganate/naga2-defend.png" "units/khaganate/naga2.png" {SOUND_LIST:NAGA_HIT} }
    [abilities]
    {ABILITY_KHAGANATEFACTION}
    {ABILITY_OVERSIGHT 20}
#    {ABILITY_LESSER_LEADERSHIP}
    {ABILITY_LEADERSHIP}
    [/abilities]
    [attack]
        name=mace
        description=_"mace"
        icon=attacks/mace.png    
        type=impact
        range=melee
        damage=9
        number=3
        [specials]
            {WEAPON_SPECIAL_CONVERT_SLAVES}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/khaganate/naga2.png:50"
        [/frame]

        [frame]
            image="units/khaganate/naga2-attack-[1~5].png:50"
        [/frame]

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
    [/attack_anim]
[/unit_type]


[unit_type]
    id=Khaganate_Naga_General
    name= _ "Naga Beklarbekh"
    race=steppenaga
    gender=male
    image="units/khaganate/naga3.png"
    profile="portraits/naga-overseer.png"
    {LEADING_ANIM "units/khaganate/naga3.png" "units/khaganate/naga3.png" 44,-26}
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=68
    movement_type=steppenaga
    [resistance]
        blade=80
        pierce=70
        impact=90
        fire=80
        cold=110
    [/resistance]
    movement=5#6
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=51
    usage=fighter
    description= _ "Beklarbekh (which means 'bekh of all bekhs') is the hereditary position of the head of the Nagas. Once upon a time, the ancestors of the present Beklarbekhs were the first noble naga bloodline that swore allegiance to the Khagan of the serpentheads, and their oasis became a springboard for the troops of the newly-formed Khaganate. Now the beklarbekjs are dignitaries especially noted by the grace of the Khagan, who judge their fellow naga tribesmen, manage gigantic territories, and rally the ranks of the people under the Khagan's banner during wartime.
By his functions, a beklarbekh, also having to a large region and several regiments under him, is similar to a serpenthead tumenbashi, but in the hierarchy of the Khaganate is more of a 'younger brother' to them.
To distinguish himself as a leader in wartime is a good way for a beklarbekh to put his name on a par with his great ancestors and find favor in the eyes of the Khagan. At the same time, having very large physical dimensions and the highest-quality armor being comparable in cost to a whole small town, the bekhlarbekhs, as befits the hierarchs of the Khaganate leading into battle by their example, do not hesitate to break into the bloodiest fights. Destroying enemies with blows of their maces and absorbing their blows with their shield, the noble beklarbekh is not afraid of death - should he fall, the Khagan will find him a worthy replacement among the branched dynasty of the Khaganate's first vassals and loyal slaves."
    die_sound=naga-die.ogg
    {DEFENSE_ANIM "units/khaganate/naga3.png" "units/khaganate/naga3.png" {SOUND_LIST:NAGA_HIT} }
    [abilities]
    {ABILITY_KHAGANATEFACTION}
    {ABILITY_OVERSIGHT 20}
#    {ABILITY_LESSER_LEADERSHIP}
    {ABILITY_LEADERSHIP}
    [/abilities]
    [attack]
        name=mace
        description=_"mace"
        icon=attacks/mace.png    
        type=impact
        range=melee
        damage=10
        number=4
        [specials]
            {WEAPON_SPECIAL_CONVERT_SLAVES}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=mace
        [/filter_attack]

        start_time=-250

        [frame]
            image="units/khaganate/naga3.png:50"
        [/frame]

        [frame]
            image="units/khaganate/naga3-attack-1.png:150"
        [/frame]

        [frame]
            image="units/khaganate/naga3-attack-[1~5].png:50"
        [/frame]

        [frame]
        duration=300
        [/frame]

        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Khaganate_Naga_Punisher
    name= _ "Naga Punisher"
    race=steppenaga
    gender=male
    image="units/khaganate/naga2b.png"
    profile="portraits/naga-overseer.png"
    {LEADING_ANIM "units/khaganate/naga2b.png" "units/khaganate/naga2b.png" 33,-25}
#ifver WESNOTH_VERSION >= 1.14.0
#else
    {MAGENTA_IS_THE_TEAM_COLOR}
#endif    
    hitpoints=48
    movement_type=steppenaga
    [resistance]
        blade=85
        pierce=80
        fire=85
    [/resistance]
    movement=5#6
    experience=55
    level=2
    alignment=neutral
    advances_to=null
    {STEPPE_AMLA_PUNISHER}
    cost=30
    usage=fighter
    description= _ "naga punisher^WIP: NOT YET TRANSLATED"
    die_sound=naga-die.ogg
    {DEFENSE_ANIM "units/khaganate/naga2b-defend.png" "units/khaganate/naga2b.png" {SOUND_LIST:NAGA_HIT} }
    [abilities]
    {ABILITY_KHAGANATEFACTION}
    {ABILITY_OVERSIGHT 33}
    {ABILITY_STEPPE_PUNISHER}
    [/abilities]
    [attack]
        name=whip
        description=_"whip"
        icon=attacks/whip.png
        type=impact
        range=melee
        damage=5
        number=5
        [specials]
#            {WEAPON_SPECIAL_CONVERT_SLAVES}
            {WEAPON_SPECIAL_STEPPE_ENSLAVE_LIVING 1}
        [/specials]
    [/attack]
    [attack]
        name=scimitar
        description=_"scimitar"
        icon=attacks/scimitar.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            name=whip
        [/filter_attack]

        start_time=-200

        [frame]
            duration=300
        [/frame]

        {SOUND:HIT_AND_MISS tail.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=scimitar
        [/filter_attack]

        start_time=-200

        [frame]
            image="units/khaganate/naga2b-attack-[1~5].png:60"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Khaganate_Debug_Bekhgun
    [base_unit]
       id=Khaganate_Naga_General
    [/base_unit]
    name= _ "Naga Bekhgun"
    image="units/khaganate/naga3-gun-1.png"

    hide_help=true
    do_not_list=yes
    {DEFENSE_ANIM "units/khaganate/naga3-gun-1.png" "units/khaganate/naga3-gun-1.png" {SOUND_LIST:NAGA_HIT} }

    [attack]
        damage=8
        number=3
    [/attack]

    [attack]
        name=gun
        description=_"a gun"
        icon=attacks/thunderstick.png
        type=pierce
        range=ranged
        damage=14
        number=3
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]
    [/attack]
    [attack]
        name=flamethrower
        description=_"flamethrower"
        icon=attacks/fire-blast.png
        type=fire
        range=ranged
        damage=8
        number=3
        [specials]
            {WEAPON_SPECIAL_INCINERATE}
        [/specials]
        attack_weight=1.6
    [/attack]
    [attack_anim]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=flamethrower
        [/filter_attack]
        {MISSILE_FRAME_FIRE_BREATH 11,-34 11,15 24,-22 26,10}
        start_time=-500
        [frame]
            duration=450
            image="units/khaganate/naga3-flamethrower.png"
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -400}
    [/attack_anim]

#define BEKHGUN_ANIM_FRAMES
     image="units/khaganate/naga3-gun-[3,3~7].png:75"
#enddef
    [attack_anim]
        [filter_attack]
            name=gun
        [/filter_attack]
        start_time=-600
        [frame]
            image="units/khaganate/naga3-gun-[1,2].png:75"
        [/frame]
        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH 0 0}
            direction=se,sw
            hits=yes
            [frame]
                {BEKHGUN_ANIM_FRAMES}
                sound=thunderstick.ogg
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            direction=se,sw
            hits=no
            [frame]
                {BEKHGUN_ANIM_FRAMES}
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH 0 20}
            direction=ne,nw
            hits=yes
            [frame]
                {BEKHGUN_ANIM_FRAMES}
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            direction=ne,nw
            hits=no
            [frame]
                {BEKHGUN_ANIM_FRAMES}
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 0 20}
            hits=yes
            direction=n
            [frame]
                {BEKHGUN_ANIM_FRAMES}
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            hits=no
            direction=n
            [frame]
                {BEKHGUN_ANIM_FRAMES}
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 0 0}
            direction=s
            hits=yes
            [frame]
                {BEKHGUN_ANIM_FRAMES}
                sound=thunderstick.ogg
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 24}
            direction=s
            hits=no
            [frame]
                {BEKHGUN_ANIM_FRAMES}
                sound=thunderstick-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
